<div data-ng-repeat="task in vm.tasks">
    <a href="#/details123/{{ task._id }}" >{{ task.title }}</a>
</div><br>

<input ng-model="vm.newTitle" />

<button ng-click="vm.addTask(newTask)">Add task</button>
